.bgvideo {
	height: 50vh;
	width: 100%;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;

}

.bgvideo video {
	
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
    height: 50vh;
	width: 100%;
	z-index: 1;
}
.divef {
    position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
    height: 50vh;
	width: 100%;
	z-index: 2;
    background-color: rgba(225, 254, 223, 0.407);
}

h1 {
	color: antiquewhite;
    z-index: 2;
    font-size: 80px;
    font-style: italic;
    text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}
